

<%= render "form.html", changeset: @changeset, user: @user, states: @states, conn: @conn,
                        action: appointment_path(@conn, :create) %>

<%= link "Back", to: appointment_path(@conn, :index) %>
