<h2>Show appointment</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @appointment.description %>
  </li>
  <li>
    <strong>State:</strong>
    <%= @appointment.state.name %>
  </li>
  <li>
    <strong>User:</strong>
    <%= @appointment.user.name %>
  </li>

</ul>

<%= link "Edit", to: appointment_path(@conn, :edit, @appointment) %>
<%= link "Back", to: appointment_path(@conn, :index) %>
